<form [formGroup]="refeicaoForm" (ngSubmit)="handleSubmit()" class="form-container">
    <div class="form-title">Novo Pedido</div>
    <div class="form-field">
        <label for="obra">Obra</label>
        <input type="text" id="obra" placeholder="OBRA" formControlName="obra" /> 
    </div>
    <div class="form-field"> 
        <label for="gestor">Gestor</label>
        <input type="text" id="gestor"  placeholder="GESTOR" formControlName="gestor" /> 
    </div>
    <div class="form-field"> 
        <label for="qtd_Marmitas">Quantidade de Refeições</label>
        <input type="number" id="qtd_Marmitas" placeholder="QUANTIDADE DE MARMITAS"   formControlName="qtd_Marmitas" /> 
    </div>
    <div> 
        <button type="submit" class="submit-btn"> Cadastrar </button> 
    </div>
</form>