
    <div class="container">
        <main class="error-content">
            <h1 class="error-code">404</h1>
            <p class="error-message">A gente procurou em todas as panelas, mas essa página sumiu como um bom pastel na feira!</p>
            <div class="suggestion">
                <p>Mas não se preocupe, a fome de novidades continua!</p>
                <ul>
                    <li><a [routerLink]="['']">Voltar para a página inicial e descobrir novos restaurantes.</a></li>
                   
                </ul>
            </div>

        </main>
        <footer>
            <p>&copy; 2025 Conecta Restaurante - Conectando você aos melhores sabores!</p>
        </footer>
    </div>

