.conteudo {
  margin-left: 250px;
  flex-grow: 1; 
  padding: 20px; 
  margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte limpa e moderna */

}


.order-list{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Page_title{
  font-size: 50px;
  
}

.Presentation{
  border-bottom: solid black;
  margin-bottom: 50px;
  
}