<div class="sidebar-container">
  <div class="sidebar-header">
    Conecta
    <br>
    Refeições
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <span class="fas fa-home"></span> Home
        </a>
      </li>
      <li>
        <a routerLink="/pedidos" routerLinkActive="active">
          <span class="fas fa-file-alt"></span> Pedidos
        </a>
      </li>
      <li>
        <a routerLink="/adicionar" routerLinkActive="active">
          <span class="fas fa-plus"></span> Adicionar
        </a>
      </li>
    </ul>
  </nav>
  <div class="sidebar-footer">
    <div class="sidebar-footer-div">
       <a routerLink="/home" routerLinkActive="active">
          <span class="fas fa-sign-out"></span> Encerrar
      </a>
    </div>
  </div>
</div>
