.sidebar-container {
  width: 250px;
  background-color: #f7b731;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  background-color: #f7b731;
  color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
  font-size: 2.0em;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1); 
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.sidebar-nav {
  flex-grow: 1;
  padding: 20px 0;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  background-color: #fdd835;
  color: #333;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.sidebar-nav a:hover {
  background-color: #fef3ce;
}

.sidebar-nav a.active {
  background-color: #ffc107;
  font-weight: bold;
}

.sidebar-nav span {
  margin-right: 10px;
  font-size: 1.2em;
}

.sidebar-footer {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.sidebar-footer-div {
  display: flex;
  align-items: center;
  background-color: #fdd835;
  color: #333;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.sidebar-footer-div a.active {
  background-color: #ffc107;
  font-weight: bold;
}

.sidebar-footer-div:hover {
  background-color: #fef3ce;
}

.headerDiv {
  background-color: #e8e8e8;
  height: 100px;
  color: #333;
  font-size: 2.0em;
  font-weight: bold;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  left: 250px;
  right: 0;
  margin: 0px;
  padding: 0px;
}