.order-card-container {
  width: clamp(200px,280px,300px);
  padding: 15px;
  background-color: #e0e0e0;
    border-radius: 24px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte limpa e moderna */
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  color: #1c1c1c;
  gap: 20px

}
.order-card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffe600d6;
}

.order-card-container p {
  margin: 0 0 12px 0; /* Espaçamento entre as linhas de texto */
  font-size: 16px;
  color: #333333; /* Cor do texto escura para boa legibilidade */
  line-height: 1.5;
}


.buttons-container-from-order-card-container {
  display: flex; /* Usa flexbox para alinhar os botões */
  justify-content: space-between; /* Distribui os botões igualmente */
  margin-top: 20px; /* Espaço acima dos botões */
  margin-bottom: 0; /* Remove a margem inferior do último parágrafo */
  flex-direction: row;
}

.buttons-container-from-order-card-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px; /* Cantos arredondados para os botões */
  font-size: 14px;
  font-weight: 600; /* Deixa a fonte do botão mais forte */
  color: #ffffff; /* Cor do texto do botão */
  cursor: pointer;
  background-color: #1c1c1c;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: normal;
}


.order-card-container button:hover {
  background-color: #949494; /* Cor de fundo mais escura ao passar o mouse */
  transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}