/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* Define a fonte Inter como a principal para todo o corpo do site */

.bota-font{
    font-family: 'Inter', sans-serif;
    /* Outros estilos para o corpo, como cor, tamanho da linha, etc. */
    line-height: 1.6;
    color: #333;
}


.material-symbols-outlined-delete {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined-publish {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

