<div class="list-container">
  
  <div class="header-actions">
    <h2>{{ title }}</h2>
    <a routerLink="/menu/new" class="btn-primary">
      + Novo Cardápio
    </a>
  </div>
  <div class="active-menu">
    <h3>Cardápio Ativo</h3>

  </div>

  <div class="content-wrapper" *ngIf="menus$ | async as menus">

    <table class="styled-table" *ngIf="menus.length > 0; else emptyState">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th class="col-actions">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active-menu" *ngIf="activeMenu">
            <td> # {{ activeMenu.id}}</td>
            <td> 
                <strong> 
                    {{ activeMenu.nome.length > 50 ? (activeMenu.nome | slice:0:50) + '...' : activeMenu.nome }}
                </strong>
                <span class="badge-ativo">ATIVO</span> </td>
            <td>
                <span title="{{ activeMenu.descricao }}">
                    {{ activeMenu.descricao.length > 50 ? (activeMenu.descricao | slice:0:50) + '...' : activeMenu.descricao }}
                </span>
            </td> 
            <td class="col-actions">
                <button (click)="onUnpublish()"class="btn-icon publish" title="Desativar Cardápio (Já está ativo)">
                    <span class="material-symbols-outlined" style="color: green;">
                        unpublished 
                    </span>          
                </button>
                <button [routerLink]="['/menu', activeMenu.id]" class="btn-icon edit" title="Editar">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button (click)="deleteMenu(activeMenu.id)" class="btn-icon delete" title="Excluir">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </td>
        </tr>

        <ng-container *ngFor="let menu of menus">
            <tr *ngIf="menu.id !== activeMenu?.id">
                <td># {{ menu.id }}</td>
                <td>
                    <strong> 
                        {{ menu.nome.length > 50 ? (menu.nome | slice:0:50) + '...' : menu.nome }}
                    </strong>
                </td>
                <td>
                    <span title="{{ menu.descricao }}">
                        {{ menu.descricao.length > 50 ? (menu.descricao | slice:0:50) + '...' : menu.descricao }}
                    </span>
                </td>
                <td class="col-actions">
                    <button (click)="onPublish(menu)"class="btn-icon publish" title="Tornar Ativo">
                        <span class="material-symbols-outlined">publish</span>          
                    </button>
                    <button [routerLink]="['/menu', menu.id]" class="btn-icon edit" title="Editar">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    <button (click)="deleteMenu(menu.id)" class="btn-icon delete" title="Excluir">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </td>
            </tr>
        </ng-container>
      </tbody>
    </table>

    <ng-template #emptyState>
      <div class="empty-box">
        <p>Nenhum cardápio encontrado.</p>
        <small>Clique em "Novo Cardápio" para começar.</small>
      </div>
    </ng-template>

  </div>

  <div class="pagination-controls" *ngIf="total_itens > 0">
    <button 
      (click)="prevPage()" 
      [disabled]="current_page === 0"
      class="btn-page">
      Anterior
    </button>

    <span class="page-info">
      Página <strong>{{ current_page + 1 }}</strong> de <strong>{{ total_pages }}</strong> 
      <span class="total-badge">(Total: {{ total_itens }})</span>
    </span>

    <button 
      (click)="nextPage()" 
      [disabled]="current_page >= total_pages - 1"
      class="btn-page">
      Próxima
    </button>
  </div>

</div>